body {
    background: linear-gradient(40deg, purple, aqua);
    height: 402px;
}

div {
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    ;
    width: 250px;
    height: 300px;
    border: 1px, solid, black;
    border-radius: 0.2em;
    background: linear-gradient(40deg, aqua, purple);
box-shadow: 10px, 10px, 10px, black;
}

form {
    text-align: center;
    
}

h1 {
    text-align: center;
    color: white;
    margin-top: 60px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;



}

input { opacity: 2%;
    text-align: center;
    width: 200px;
    height: 30px;
    border-radius: 0.2em;
    border: 1px;
}

#ab {
    color: white;
    background-color: rgb(0, 140, 255);
    border: 1px, solid, black;
}

#ab:hover { opacity: 100%;
    width: 200px;
    height: 30px;
    border-radius: 0.2em;
    border: 1px, solid, black;
    transform: scale(0.9);
    transition: 1s;
    background: linear-gradient(40deg, aqua, blue);
}

a {
    text-decoration: none;
    color: white;
    font-size: large;
}

a:hover {
    text-decoration: underline;
}
.op:hover{opacity: 100%;
    transform: scale(1.1);
transition: 0.6s;}